:root {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input, textarea{
    width: 100%;
    border: solid 1px #8597af;
    display: block;
    padding: 2px 8px;
    font-size: 12px;
    outline: none;
    border-radius: 2px;
    transition: border-color .05s linear;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

input:focus, textarea:focus{
    border-color: #282d35;
}

/* .paciente{
    animation: show-in .2s ease;
} */

@keyframes show-in{
    from{ opacity: 0;}
    to{ opacity: 1;}
}

.show-in{
    animation: show-in .8s ease;
}

.edicion{
    border-radius: 50%;
    aspect-ratio: 1;
    box-shadow: 0 0 50px -5px rgb(0 0 0 / 1);
    transition: opacity .3s ease;
}
